h1 {
  font-size: 3em;
  text-align: center;
}

#grid-container {
  display: grid;
  grid-template-columns: auto auto auto auto;
  background-color: slateblue;
  grid-gap: 8px;
  padding: 8px;
  max-width: 800px;
  margin: auto;
}

#grid-container > div {
  background-color: violet;
  text-align: center;
  cursor: pointer;
  font-size: 2em;
}

#grid-container > div:hover {
  background-color: black;
  color: white;
}

#grid-container > span {
  font-size: 55px;
  background-color: white;
  color: blue;
}
.show-hide {
  display: hide;
}
