h1 {
  font-size: 3em;
  text-align: center;
}

#grid-container {
  display: grid;
  grid-template-columns: auto auto auto auto;
  background-color: slateblue;
  grid-gap: 8px;
  padding: 8px;
  max-width: 800px;
  margin: auto;
  user-select: none; /*using should not select because the text will appear*/
}

#grid-container > div {
  background-color: violet;
  text-align: center;
  cursor: pointer;
  font-size: 2em;
  min-width: 150px;
}

#grid-container > div:hover {

}

#grid-container > span {
  font-size: 55px;
  background-color: white;
  color: blue;
}
/*
#span-1 {
  display: none;
}*/

.hide {
  color: violet; /*make the text invisible (matching colors with the background)*/
}
