h1 {
  font-size: 3em;
  text-align: center;
}

#grid-container {
  display: grid;
  grid-template-columns: auto auto auto auto;
  background-color: slateblue;
  grid-gap: 8px;
  padding: 8px;
  max-width: 800px;
  overflow-x: auto;
  margin: auto;
  user-select: none; /*using should not select because the text will appear*/
}

#grid-container > div {
  background-color: #e0ebeb;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  min-height: 64px;
  font-size: 0.2em; /*keep it small - symetric*/


}

#grid-container > div:hover {

}

#grid-container > span {


}

.material-icons {
  padding-top: 10px;

}

.material-icons.md-48 { font-size: 48px; }

.hide {
  color: #e0ebeb; /*make the text invisible (matching colors with the background)*/
}
